
:root{
  --dark:#002E42;
  --principal:#0088C2;
  --white:white;
  --gray:#CCCCCC;
  --black:#FAFDFF;
  --second:#00648F;
}

body{
  background-color: var(--dark);
}

.contenedor{
  display: flex;
  align-items: center; /* centra verticalmente */
  justify-content: center; /* centra horizontalmente */
  height: 100vh;
}

.principal {
  background-color:var(--gray);
  height: 80%;
  width: 400px;
  border-radius: 15px;
  position: relative;
}

.boton{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}