.todoItem {
  text-align: center;
  width: 90%;
  list-style: none;
  background-color: var(--principal);
  color: var(--white);
  margin-bottom: 15px;
  border-radius: 10px;
  border: 5px solid var(--white);
}

.todoItem--completed {
  background-color: #7c7c7c;
}
.todoItem--completed p {
  text-decoration: line-through;
}
.todoItem--completed span {
  background-color: #7c7c7c;
}

.todoItem span {
  display: inline-block;
}
.todoItem p {
  display: inline-block;
}

.buton {
  width: 20px;
  height: 20px;
  font-weight: bold;
  border-radius: 50%;
  border: 1px solid var(--white);
  margin-top: 20px;
}

.xButom {
  background-color: red;
  float: right;
  margin-right: 10px;
}

.✓Buttom {
  background-color: green;
  float: left;
  margin-left: 10px;
}
